body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Circular Std', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: #ffff;
}

h2 {
  margin: 0px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px 6px;
  margin: 0 0 4px;
}

textarea {
  margin-bottom: 4px;
}

.notesWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.contentWrapper {
  background: #303030;
  padding: 40px;
  height: 100vh;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffe433;
  padding: 20px;
}
